* {
    background-color: #fff;
    margin-left: 15px;
    margin-right: 15px;
}
body {
    font-family: 'Poppins', sans-serif;
}
section {
    margin-top: 40px;
}
h1 {
    font-weight: 700;
    font-size: 45px;
    line-height: 30px;
}
h2 {
    font-weight: 700;
    font-size: 35px;
}
p {
    text-align: justify;
}
.flexible-area {
    display: flex;
}
.half-width {
    width: 50%;
    padding: 0 10px;
}
.sec1 img {
    width: 75%;
}
.content-center {
    text-align: center;
}
.text-blue {
    color:rgb(6, 90, 247);
}
.small-font {
    font-size: small;
}
.link-btn {
    text-decoration: none;
    color: white;
    font-weight: 700;
    padding: 10px 15px;
    background-image: linear-gradient(blue, rgb(49, 198, 218));
    border-radius: 5px;
}
#title {
    border-left: 5px solid;
border-image: linear-gradient(blue, rgb(49, 198, 218));
    border-image-slice: 1;
    padding-left: 15px;
}
#title h1 {
    font-family: 'Rubik', sans-serif;
}
.sec2 {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.card {
    padding: 5px 10px;
    border-radius: 20px;
}
.card img, h3, p {
    background-color: inherit;
}
.card img {
    width: 55%;
}
#card1 {
    background-color:rgb(185, 253, 231)
}
#card2 {
    background-color: antiquewhite;
}
#card3 {
    background-color:rgb(192, 221, 247);
}

