/*---------------------------------
    Common styles
----------------------------------*/
* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #f5f5f5;
    max-width: 1280px;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
}
h1 {
    font-size: 45px;
    font-weight: 700;
    line-height: 55px;
}
hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
.link-btn {
    background-color: rgb(199, 33, 67);
    color: white;
    text-decoration: none;
    font-weight: 700px;
    padding: 8px 12px;
    border-radius: 20px;
}
.display-flex {
    display: flex;
}
.half-width {
    width: 50%;
}
.align-center {
    text-align: center;
}


/*---------------------------------
    Header styles
----------------------------------*/
header {
    background-color: #2EB086;
    height: 50px;
}
header nav {
    margin: 0 40px;
}


/*---------------------------------
    Main styles
----------------------------------*/
main {
    max-width: 1100px;
    margin: 0 auto;
}
.section {
    margin: 20px 0;
}
.influence-promo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.influence-promo p, a {
    margin-top: 15px;
}
.influence-img img {
    width: 400px;
}
.companies {
    width: 90%;
    margin: 30px auto;
}
.company-logo {
    display: flex;
    justify-content: center;
}
.company-logo img {
    padding: 20px;
}
.sec-middle {
    width: 80%;
    margin: auto;
    margin-top: 60px;
}
.sec-middle h2 {
    text-align: center;
}



/*---------------------------------
    Footer styles
----------------------------------*/
footer {
    background-color: black;
    height: 50px;
}
footer div {
    background-color: inherit;
    color: white;
}
